.mxgraph-container {
  display: flex;
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 500px;
}

.mxgraph-toolbar {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
  max-height: 140px;
  padding: 20px 10px;
}
.mxgraph-toolbar img {
  margin: 5px;
}
