.createNew form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.newItem {
  text-align: center;
}

.MuiCardContent-root {
  position: relative;
  padding: 20px !important;
}
.closeBtn {
  position: absolute;
  right: 0;
  margin: 5px;
  top: 0;
}
.closeBtn a {
  color: gray;
}

.MuiGrid-root .createNew {
  margin: auto !important;
}
.createNew,
.createNew .MuiCard-container {
  width: 100%;
}
