.input-parameters,
.parameter-group-titles,
.parameter-group-inputs {
  display: flex;
}
.parameter-group-titles {
  text-align: center;
  padding: 0 10px;
}

.input-parameters {
  justify-content: space-between;
  /* margin-bottom: 15px; */
}
.input-parameters button {
  height: 30px;
  padding: 0;
  width: 200px !important;
}

.classifier-value .MuiPaper-root,
.parameter-group {
  margin-bottom: 15px;
}
.parameter-group-inputs div {
  width: 95%;
  display: flex;
  align-items: center;
}

.parameter-group-titles span {
  width: 31%;
}

.parameter-group-inputs {
  display: flex;
  padding: 10px 10px 10px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin: 0 20px 20px 20px;
}
.parameter-group-inputs .MuiFormControl-root {
  justify-content: center;
}
.parameter-group-inputs span {
  align-self: center;
}
.parameter-group-inputs button,
.simpleFilter button {
  width: 48px !important;
}
