.editorContainer {
  display: flex;
}
.toolbarContainer {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  width: 100px;

  padding: 20px 10px;
}

.toolbarContainer img,
.infoContainer button {
  margin: 5px;
}
