.editorContainer {
  display: flex;
}
.toolbarContainer {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  padding: 20px 10px;
}

.toolbarContainer img,
.infoContainer button {
  margin: 5px;
}
.infoContainer {
  min-width: 180px;
}
.restrictionContainer,
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restrictionContainer {
  min-width: 280px;
}
.restrictionContainer h3 {
  font-weight: 400;
}

.entityRestrictions .MuiFormControl-root,
.restrictionType .MuiFormControl-root {
  width: 100%;
}
.restrictionContainer .MuiButton-root {
  margin-top: 20px;
}
.editorContainer .MuiOutlinedInput-input {
  padding: 10px !important;
}
