.MuiTabs-scroller {
  display: flex;
  justify-content: center !important;
  padding: 0 !important;
}
.MuiTabs-flexContainer {
  padding: 0 !important;
}
.MuiButtonBase-root {
  width: 100% !important;
}
.addButton {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
.elName {
  border: 1px solid #eeeeee;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.elName:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.elName-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elName-top span {
  font-size: 0.95em;
}
